### Given an array of integers, return indices of the two numbers such that they add up to a specific target.

You may assume that each input would have exactly one solution, and you may not use the same element twice

In [100]:
nums = [3,2,4]
target = 6

In [101]:
len(nums)

3

In [74]:
result=[]
for i in nums:        
    for x in range(len(nums)):
        if (target == i+nums[x]):            
            result.append(x)            
print(result)

[4, 3, 1]

In [71]:
i=0
for x in range(len(nums)):
    print('i',nums[i])
    print('x',x)  
        
    i=i+1

i 3
x 0
i 2
x 1
i 4
x 2
i 5
x 3
i 8
x 4

In [102]:
# #class Solution(object):
# def twoSum(nums, target):
#     dic = {}
#     for i, num in enumerate(nums):
#         if (target - num) in dic:
# #             print('target',target)
# #             print('num',num)
# #             print('tar-num',target-num)
# #             print(dic[target - num])
#             return dic[target - num], i
#         dic[num] = i
#         #print('dic[num]',dic[num],num)

In [112]:
def twoSum(nums,target):
    dic={}
    for i,num in enumerate(nums):       
        if(target-num) in dic:
            return dic[target-num],i
        dic[num] = i
        print(dic[num])

In [113]:
twoSum(nums,target)

0
1

(1, 2)

In [85]:
print(list(enumerate(nums)))

[(0, 3), (1, 2), (2, 4), (3, 5), (4, 8)]

##### Fibonocci number series

In [22]:
def fibo(n):
    a,b =0,1
    while a < n:
        print(a,end = ' ')        
        #a,b = b,a+b   the expressions on the right hand side are evaluated before being assigned to the left hand side        
        c = a+b
        a = b
        b = c

In [27]:
fibo(100)

0 1 1 2 3 5 8 13 21 34 55 89

##### Palindrome

In [40]:
s='malaya'
reverse = s[::-1]
if (s==reverse):
    print('True')
print('F')

F

In [41]:
print(reverse)

ayalam

In [47]:
def reverse(s):
    return s[::-1] # reverse the string
def isPalindrome(s):
    rev = reverse(s) # Call the reverse function
    if(s==rev): # Check the reverse string is equal to original string
        return True
    return False

In [48]:
reverse('laks')

'skal'

In [49]:
isPalindrome('lakal')

True

In [53]:
s='MalayalaM'
ans = isPalindrome(s)
if ans==1:
    print('Yes')
else:
    print('No')

Yes

##### Prime No

In [151]:
def isPrime(n):
    if n<=1:    
        return False
    for i in range(2,n+1):        
        if (n%i) == 0:
            return False
            break 
    else:
        return True

In [153]:
isPrime(7)

False

In [155]:
# Python program to display all the prime numbers within an interval

# change the values of lower and upper for a different result
lower = 1
upper = 100

# uncomment the following lines to take input from the user
#lower = int(input("Enter lower range: "))
#upper = int(input("Enter upper range: "))

print("Prime numbers between",lower,"and",upper,"are:")

for num in range(lower,upper + 1):
   # prime numbers are greater than 1
   if num > 1:
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [123]:
9%2

1

##### Prime Factors

In [87]:
def Primefact(n):
    factors=[]
    d=2
    while n>1:
        while n%d==0:
            factors.append(d)
            n=n/d # n/=d
        d=d+1
    return factors

In [88]:
pf = Primefact(420)
largest_pf = min(pf)

In [89]:
print(pf)
print(largest_pf)

[2, 2, 3, 5, 7]
2

In [95]:
def Primefact2(n):
    factors=[]
    d=2
    while n>1:
        while n%d == 0:
            factors.append(d)
            n/=d
        d=d+1
        if d*d >n: 
            if n>1: factors.append(n)
            break
    return factors

In [97]:
Primefact2(42)

[2, 3, 7.0]

In [99]:
len(str(1234))

4

In [103]:
1235%10

5

In [104]:
1234//10

123

##### Armstrong No

In [117]:
def armstrong(num):
    order=len(str(num))
    temp=num
    sum=0
    while temp>0:
        digit = temp%10
        sum += digit**order
        temp = temp//10
    #return sum
    if num==sum: print(sum)#return 'Armstrong'
    #else: return 'Not Armstrong'

In [118]:
armstrong(152)

In [119]:
lower =100
upper = 2000
for i in range(lower,upper):
    armstrong(i)

153
370
371
407
1634

In [173]:
n=27
if n>1:
    for i in range(2,n-1):
        if(n%i==0):
            ans='Not Prime'
            break
        else:
            ans='Prime'
print(ans)

Not Prime

In [177]:
n=10
a,b=0,1
while a<n:
    print(a,end=' ')
    a,b=b,a+b

0 1 1 2 3 5 8

In [178]:
153//10

15

In [179]:
153%10

3

In [180]:
125%10

5

In [201]:
n=153
order=len(str(n))
temp=n
sum=0
while temp>0:    
    digi=temp%10
    sum=sum+digi**order
    temp=temp//10    
if sum==n:
    print('Armstrong')
else: print('Not Armstrong')

Armstrong

In [205]:
n=11
fac = []
for i in range(2,n):
    if n%i==0:
        fac.append(i)
        n=n/i
print(fac)

[]

In [211]:
n=11
fac = []
d=2
while n>1:
    while n%d==0:
        fac.append(d)
        n=n/d
    d=d+1
print(fac)

[11]

In [215]:
stock = [12,11,15,3,10]
print('profit:',max(stock)-min(stock))

profit: 12

In [222]:
#Factorial
num = 6
num=int(input('Enter a number to find Factoral'))
fact=1
if num<0:
    print('Factorial does not exists for negative numbers')
elif num==0:
    print('Factorial for 0 is 1')
else:
    for i in range(1,num+1):
        fact=fact*i
print('Factoraial of ',num,'is =',fact)

Enter a number to find Factoral5
Factoraial of  5 is = 120

##### Anagram

In [247]:
def anagram(s1,s2):
    #remove spaces and lowercase letters
    s1=s1.replace(' ','').lower()
    s2=s2.replace(' ','').lower()
    
    if len(s1)!=len(s2):
        return False
    else:
        #return sorted(s1)==sorted(s2)    
        return Counter(s1)==Counter(s2)

In [249]:
anagram('dog','god')

True

In [235]:
anagram('clint eastwood' ,'old west action')

True

In [236]:
anagram('xy','zx')

False

In [230]:
#Another Method

In [239]:
s1='old west action'
count={}
for letter in s1:
    if letter in count:
        count[letter]+=1
    else:
        count[letter]=1
print(count)

{'o': 2, 'l': 1, 'd': 1, ' ': 2, 'w': 1, 'e': 1, 's': 1, 't': 2, 'a': 1, 'c': 1, 'i': 1, 'n': 1}

In [240]:
def anagram2(s1,s2):
    #remove spaces and replace lowercase
    s1=s1.replace(' ','').lower()
    s2=s2.replace(' ','').lower()
    
    #Edge case
    if len(s1)!=len(s2):
        return False
    #count no of strings in s1(add count)
    count={}      
    for letter in s1:
        if letter in count:
            count[letter]+=1
        else:
            count[letter]=1
    #count no to strings in s2(subtract count)
    for letter in s2:
        if letter in count:
            count[letter]-=1
        else:
            count[letter]=1
        
    for k in count:
        if count[k]!=0:
            return False
    return True

In [243]:
anagram2('clint eastwood' ,'old west action')

True

In [244]:
from collections import Counter
Counter(s1)

Counter({' ': 2,
         'a': 1,
         'c': 1,
         'd': 1,
         'e': 1,
         'i': 1,
         'l': 1,
         'n': 1,
         'o': 2,
         's': 1,
         't': 2,
         'w': 1})

In [260]:
def anagram3(s1,s2):
    #remove spaces and lowercase letters
    s1=s1.replace(' ','').lower()
    s2=s2.replace(' ','').lower()    
       
    return Counter(s1)==Counter(s2)

In [261]:
anagram3('clint eastwood ' ,'old west action')

True

In [265]:
"""
RUN THIS CELL TO TEST YOUR SOLUTION
"""
from nose.tools import assert_equal

class AnagramTest(object):
    
    def test(self,sol):
        assert_equal(sol('go go go','gggooo'),True)
        assert_equal(sol('abc','cba'),True)
        assert_equal(sol('hi man','hi     man'),True)
        assert_equal(sol('aabbcc','aabbc'),False)
        assert_equal(sol('123','1 2'),False)
        print("ALL TEST CASES PASSED")

# Run Tests
t = AnagramTest()
t.test(anagram3)

ALL TEST CASES PASSED

In [270]:
arr1 = [1,2,3,4,5,6,7]
arr2 = [3,7,2,1,4,6]

In [271]:
arr3 = zip(arr1,arr2)
arr3

In [274]:
print(list(arr3))

[(1, 3), (2, 7), (3, 2), (4, 1), (5, 4), (6, 6)]

##### Find the missing element

In [275]:
def finder(arr1,arr2):
    #sort the arrays
    arr1.sort()
    arr2.sort()
    
    #Compare elements in the sorted array
    for num1,num2 in zip(arr1,arr2):
        if num1!=num2:
            return num1
    return arr1[-1]

In [278]:
arr1 = [1,2,3,4,5,7]
arr2 = [3,7,2,1,4,5]
finder(arr1,arr2)

7

##### Sentence reversal

In [281]:
def rev1(s1):
    return " ".join(reversed(s1.split()))

In [282]:
rev1('hi i am laks')

'laks am i hi'

In [287]:
def rev2(s2):
    return " ".join(s2.split()[::-1])

In [288]:
rev2('hi i am laksd')

'laksd am i hi'

##### Unique character in string

In [294]:
s='aabcds'
set(s)#set remove duplicates

{'a', 'b', 'c', 'd', 's'}

In [293]:
len(set(s))

5

In [291]:
len(s)

5

In [295]:
def uni_char(s):
    return len(set(s))==len(s)

In [299]:
uni_char('sdfa')

True

### Recursion

In [302]:
def rec_sum(n):
    if n==0:
        return 0
    else:
        return n+rec_sum(n-1)

In [303]:
rec_sum(4)

10

In [331]:
# Recursion -2
def rec_sum2(n):
    if len(str(n))==1:
        return n
    else:
        return n%10 + rec_sum2(n//10)

In [332]:
rec_sum2(4321)

10

In [330]:
4321%10

1

##### String permutation - Recursive

In [341]:
def permute(s):
    out = []
    #Base Case
    if len(s)==1:
        out=[s]
    else:        
        # for every letter in string
        for i,let in enumerate(s):
            #Recursive
            for perm in permute(s[:i]+s[i+1:]):
                #Add it to output
                out += [let+perm]
    return out

In [342]:
permute('abc')

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

##### String Reverse - Recursive

In [345]:
def recursive(s):
    #Base Case
    if len(s)<=1:
        return s
    else:
        return recursive(s[1:])+s[0]

In [346]:
recursive('Hello World')

'dlroW olleH'